<ul>
    <li class="mini-container" *ngFor='let listing of listings'>
        <div>
            <p class="title">{{listing.name}}<p>
            <p>{{listing.description}}</p>    
            <p>${{listing.price}}</p>
        </div>
        <div class="buttons">
            <div class="button"><a routerLink='/edit-listing/{{listing.id}}'>Edit</a></div>
            <div class="button" (click)="deleteItem(listing.id)">Delete</div>
        </div>
        
    </li>
   
    
</ul>
<div class="button btn-new-listing"><a routerLink='/new-listing'>Create new listing</a></div>